
<div class="wrapper">
  <form action="/hr_manager/divisions/<%= @division.id() %>" method="post">
    <h3><%= @division.name() %></h3>
    <input type="hidden" name="_method" value="patch">
    <table>
      <th>
        <label for="name">Name</label>
      </th>
      <tr>
        <td>
          <input type="text" name="name" value="<%= @division.name() %>">
        </td>
      </tr>
    </table>
    <button type="submit">Save Changes</button>
  </form>
  <a href="/hr_manager" class="btn btn-default" role="button">Back</a>
</div>

<div class="wrapper">
  <% if @division.employees()%>
  <h3 class="table_title">Manage your employees in <%= @division.name() %></h3>
    <table>
      <th>NAME</th>
      <th>EMAIL</th>
      <th></th>
        <% @division.employees().each() do |employee| %>
        <tr>
          <td><a href="/hr_manager/employees/<%= employee.id() %>"><%= employee.first_name() %> <%= employee.last_name() %></a></td>
          <td><%= employee.email() %></td>
          <td>
            <form action="/hr_manager/employees/<%= employee.id() %>" method="post">
              <input name="_method" type="hidden" value="delete">
              <button type="submit" name="button">DELETE</button>
            </form>
          </td>
        </tr>
        <% end %>
    </table>
  <% else %>
  <h3>There are no employees in this division. <span class="add_prompt">Please document your employees.</span></h3>
  <% end %>
</div>
